// Code Signing
// ============
CODE_SIGN_IDENTITY = Mac Developer

// Deployment
// ==========
SKIP_INSTALL = YES

// Linking
// =======
OTHER_LDFLAGS = -sectcreate __TEXT __info_plist SampleServer/SampleServer-Info.plist -sectcreate __TEXT __launchd_plist SampleServer/SampleServer-Launchd.plist

// Packaging
// =========
PRODUCT_NAME   = net.nevir.$(PROJECT_NAME).$(TARGET_NAME)

// Compiler - Language
// ===================
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER            = SampleServer/SampleServer-Prefix.pch
