<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>net.nevir.SampleApp.SampleService</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SampleService</string>
	<key>CFBundleVersion</key>
	<string>0.01</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier net.nevir.SampleApp and certificate leaf[subject.CN] = &quot;Mac Developer: Ian MacLeod (LJGX7BEELQ)&quot;</string>
	</array>
</dict>
</plist>
