<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PROJECTNAME___.___PACKAGENAMEASIDENTIFIER___</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>___PACKAGENAMEASIDENTIFIER___</string>
	<key>CFBundleVersion</key>
	<string>0.01</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PROJECTNAME___ and certificate leaf[subject.CN] = &quot;&lt;CODE_SIGN_IDENTITY&gt;&quot;</string>
	</array>
</dict>
</plist>
