<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PROJECTNAME___.___PACKAGENAMEASIDENTIFIER___</string>
    <key>MachServices</key>
    <dict>
      <key>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PROJECTNAME___.___PACKAGENAMEASIDENTIFIER___</key>
      <true/>
    </dict>
  </dict>
</plist>
