// SMJobKit
// ========
SMJ_SOURCE_INFO_PLIST_PATH    = Tests/TestService/Info.plist
SMJ_PROCESSED_INFO_PLIST_PATH = $(BUILD_DIR)/Tests/TestService/Info.plist

// Code Signing
// ============
CODE_SIGN_IDENTITY = Mac Developer

// Linking
// =======
OTHER_LDFLAGS = -sectcreate __TEXT __info_plist "$SMJ_PROCESSED_INFO_PLIST_PATH" -sectcreate __TEXT __launchd_plist "Tests/TestService/Launchd.plist"

// Packaging
// =========
PRODUCT_NAME = net.nevir.SMJobKitTests.$(TARGET_NAME)

// Compiler - Language
// ===================
GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREFIX_HEADER            =
