// SMJobKit
// ========
SMJ_PREPROCESS_FILES = Tests/TestService/Info.plist, Tests/TestService/Launchd.plist
SMJ_PREPROCESS_DIR   = $(BUILD_DIR)/Preprocessed

// Code Signing
// ============
CODE_SIGN_IDENTITY = Mac Developer

// Linking
// =======
OTHER_LDFLAGS = -sectcreate __TEXT __info_plist "$(SMJ_PREPROCESS_DIR)/Tests/TestService/Info.plist" -sectcreate __TEXT __launchd_plist "$(SMJ_PREPROCESS_DIR)/Tests/TestService/Launchd.plist"

// Packaging
// =========
PRODUCT_NAME = net.nevir.SMJobKitTests.$(TARGET_NAME)

// Compiler - Language
// ===================
GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREFIX_HEADER            =
